img {
    width: 1000px;
    height: 1100px;
    position: absolute;
    border: white solid 2px;
    border-radius: 50px;
}
h3 {
    color: #353535;
    position: relative;
    top: 180px;
    left: 1030px;
    font-size: 20px;
    font-family: monospace;
}
.brand {
    position: relative;
    left: 630px;
    bottom: 130px;
    height: 40px;
    width: 70px;
    font-size: 18px;
    border: rgb(61, 61, 61) solid 2px;
    border-radius: 10px;
    font-family: fantasy;
}
.orig {
    position: relative;
    left: 635px;
    bottom: 130px;
    height: 40px;
    width: 110px;
    font-size: 18px;
    border: rgb(61, 61, 61) solid 2px;
    border-radius: 10px;
    font-family: fantasy;
}
.wsale {
    text-decoration: line-through;
    color: rgb(129, 129, 129);
    position: relative;
    left: 180px;
    bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 25px;
}
.price {
    color: #ab51fb;
    position: relative;
    left: 1050px;
    top: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}
.cart {
    color: rgb(245, 244, 244);;
    position: relative;
    background-color: #ac53f9;
    left: 1050px;
    top: 60px;
    height: 60px;
    width: 400px;
    border: transparent solid 2px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
}
.cart:hover  {
    background-color:  #b662ff;
}
.sale {
    position: relative;
    background-color: #b662ff;
    font-family: fantasy;
    top: 702px;
    left: 853px;
    height: 100px;
    width: 150px;
    color: rgb(41, 9, 71);
    font-size: 40px;
    border: transparent solid 2px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}